<div class="news">
  <span>News Feed</span>
  <ul>
    <li><a href="#">Lorem ipsum dolor sit amet...</a></li>
    <li><a href="#">Duis volutpat ipsum ut mi tempor...</a></li>
    <li><a href="#">Donec pharetra lacus ligula, et cursus...</a></li>
    <li><a href="#">Maecenas et ex vitae nisi tempus porttitor...</a></li>
    <li><a href="#">Etiam nulla mauris, hendrerit cursus maximus...</a></li>
    <li><a href="#">Curabitur a bibendum libero.</a></li>
    <li><a href="#">Cras condimentum commodo odio, eu sodales...</a></li>
    <li><a href="#">Maecenas a rutrum erat.</a></li>
    <li><a href="#">Sed sem risus, placerat eu posuere...</a></li>
  </ul>
</div>

