<br><br><br><br>
<h1>
Profile
</h1>
<table class="table-responsive-center">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>LastName</th> 
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let data of datas">
        <td>{{data.id}}</td>
        <td>{{data.first_name}}</td>
        <td>{{data.last_name}}</td>
        <td>{{data.email}}</td>
        <td> <button type="button" class="btn btn-primmary"><span class="glyphicon glyphicon-add"></span>Add</button> </td>
        <td> <button type="button" class="btn btn-success" ng-click="updateEmployee"><span class="glyphicon glyphicon-edit"></span>Edit</button></td>
        <td> <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-delete"></span>Delete</button> </td>
    </tr>
</table>
