
  <section id="facts"  class="wow fadeIn">
    <div class="container">

      <header class="section-header">
        <h3> Overview </h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </header>

      <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">95</span>
          <p>Powerful</p>
                </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">100</span>
          <p>Creativity</p>
                </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">97</span>
          <p>Simplicity</p>
                </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">94</span>
          <p>Peaceful</p>
                </div>

            </div>

    </div>
  </section> 