<a routerLink="dashboard">Back</a>
<h5>Add New Employee</h5>
<form id="formNewEmployee" name="formNewEmployee" #employeeData = "ngForm" (ngSubmit)= "addNewEmployee(employeeData.value)">
  <label>First Name :</label> <input type="text" name="first_name" id="first_name" placeholder="First Name" ngModel><br>
  <label>Last Name :</label> <input type="text" name="last_name" id="last_name" placeholder="Last Name" ngModel><br>
  <label>E-mail :</label> <input type="text" name="email" id="email" placeholder="E-mail" ngModel><br>
  <input type="submit" value="Add Employee">
</form>

<br>

<h4 *ngIf="isAdded">{{ confirmationString}}</h4>