<body class="align">

  <div class="grid">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form login">

      <div class="form__field">
        <label for="login__username"><svg class="icon"></svg><span class="hidden">Username</span></label>
        <input type="text" name="username" class="form__input" placeholder="Username" id="username" required ngModel>
      </div>

      <div class="form__field">
        <label for="login__password"><svg class="icon"></svg><span class="hidden">Password</span></label>
        <input id="password" type="password" name="password" class="form__input" placeholder="Password" required  ngModel>
      </div>

      <div class="form__field">
        <input type="submit" value="Sign In">
      </div>

    </form>

    <p class="text--center">Did you finish the job? <a href="#" (click)="logout()"><strong>Logout</strong></a> <svg class="icon"></svg></p>

  </div>

  <svg class="icons"><symbol id="arrow-right" ></symbol></svg>

  
</body>


<!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
<input type="text" name="email" id="email" placeholder="Email" ngModel>
<input type="password" name="password" id="password" placeholder="Password" ngModal>
<button type="submit">Login</button>

</form> -->